@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "galmuri11";
  src: url('./assets/font/Galmuri11.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "galmuri11";
}